<%- include("partials/header.ejs") %>

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('/assets/img/edit-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1><%= locals.post ? "Edit Post" : "New Post" %></h1>
          <span class="subheading">You're going to make a great blog post!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Form -->
<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form
          id="contactForm"
          name="sentMessage"
          action="<%= locals.post ? `/posts/${post.id}/edit` : '/create' %>"
          method="post"
        >
          <div class="form-floating">
            <input
              class="form-control"
              id="name"
              name="title"
              type="text"
              placeholder="Enter your title..."
              required
              value="<%= locals.post ? post.title : '' %>"
            />
            <label for="name">Title</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              id="subtitle"
              name="subtitle"
              type="text"
              placeholder="Enter your subtitle..."
              required
              value="<%= locals.post ? post.subtitle : '' %>"
            />
            <label for="subtitle">Subtitle</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              id="author"
              name="author"
              type="text"
              placeholder="Enter your name..."
              required
              value="<%= locals.post ? post.author : '' %>"
            />
            <label for="author">Author Name</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              id="date"
              name="date"
              type="date"
              placeholder="Enter publish date..."
              required
              value="<%= locals.post ? post.date : formatedDate %>"
            />
            <label for="date">Publish Date</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control"
              id="url"
              name="img_url"
              type="url"
              placeholder="Enter your cover image..."
              required
              value="<%= locals.post ? post.img_url : '' %>"
            />
            <label for="url">Cover Image</label>
          </div>
          <div class="form-floating">
            <textarea
              class="form-control"
              id="content"
              name="content"
              placeholder="Enter your content here..."
              required
              style="height: 12rem"
            ><%= locals.post ? post.content : '' %></textarea>
            <label for="content">Content</label>
          </div>
          <br />
          <button
            id="btn-danger-color"
            class="btn btn-danger text-uppercase"
            id="submitButton"
            type="submit"
          >
            <%= locals.post ? "Editar" : "Enviar" %>
          </button>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
